.user {
    margin: 0;
    height: 9dvh;
    width: 9dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .user {
        height: 7dvh;
        width: 7dvh;
    }
}

@media (max-width: 480px) {
    .user {
        height: 5dvh;
        width: 5dvh;
    }
}

.userProfile {
    width: calc(100% + 10dvh);
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .userProfile {
        width: calc(100% + 7dvh);
    }
}

@media (max-width: 480px) {
    .userProfile {
        width: calc(100% + 5dvh);
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

